<!DOCTYPE html>
<html>
  <head>
    <title>Payments</title>
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content" class="container">
    <header id="content-header">
        <div id="price-container">
          <span class="glyphicon glyphicon-tag"></span><span class="price">$9.99</span>
        </div>
        <%= image_tag('header-image.jpg', id:"content-head-img", alt: "Learn Rails!") %>
    </header>
    <%= yield %>
    </div>
  </body>
    <footer id="site-footer">
      Made by <a href="#" target="_blank">Learn App Code</a>
    </footer>
</html>
